.NumberIncrementer .Value {
  display: inline-block;
  width: 40px;
  height: 24px;
  line-height: 24px;
  background: white;
  color: black;
  text-align: center;
  font-size: 14px;
}

.NumberIncrementer .Min,
.NumberIncrementer .Plus {
  vertical-align: top;
  min-width: 0 !important;
  box-shadow: none !important;
}

.NumberIncrementer .Min button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.NumberIncrementer .Plus button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
