.NumberIncrementer {
  display: flex;
}

.NumberIncrementer .Value {
  display: inline-block;
  width: 50px;
  height: 36px;
  line-height: 36px;
  background: white;
  color: black;
  text-align: center;
  border-radius: 2px;
  margin-right: 4px;
}

.NumberIncrementer .Buttons {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NumberIncrementer button {
  display: block;
  cursor: pointer;
  width: 24px;
  height: 18px;
  background: rgb(255, 23, 68);
  border: none;
  border-radius: 3px;
  outline: 0;
  font-size: 16px;
  line-height: 14px;
  color: white;
}

.NumberIncrementer button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.NumberIncrementer button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: rgba(255, 23, 68, 0.75);
}

.NumberIncrementer button:active {
  background: rgb(255, 116, 143);
}
