.SongsTable {
  background-color: rgba(15,15,15,0.9);
  width: 100%;
  color: white;
  border-collapse: collapse;
  margin-bottom: 110px;
}

.SongsTable thead {
  letter-spacing: 4px;
  color: #3a3e53;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
}

.SongsTable th:first-child {
  width: 60px;
  position: relative;
}

.SongsTable th:nth-child(2) {
  padding: 15px 0;
  width: 60px;
}
