.SongsTable {
  background-color: rgba(15,15,15,0.9);
  width: 100%;
  color: white;
  border-collapse: collapse;
  margin-bottom: 110px;
}

.SongsTable thead {
  letter-spacing: 4px;
  color: #3a3e53;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
}

.SongsTable th:first-child {
  width: 60px;
  position: relative;
}

.SongsTable th:nth-child(2) {
  padding: 15px 0;
  width: 60px;
}

.VotesLeftCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  color: white;
  height: 80px;
  width: 165px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 14px;
}

.VotesLeftCounter span {
  display: block;
  font-size: 30px;
  font-weight: 500;
}
